{

    "presets": [
        ["es2015", { "modules": false }],
		"stage-0",
		"react"
	],
	"plugins": [ "transform-flow-strip-types",  "transform-class-properties"]

}

//"transform-flow-strip-types",
//"typecheck",
//"syntax-flow",
//,"react-hot-loader/babel"
